<div class="w-100">
<a href="/home"><%= image_tag "https://res.cloudinary.com/dwvglguvp/image/upload/v1669990393/development/vigilante/Me_Diga_Onde_Andas_Que_Te_Direi_Se_Podes_ewpeha.png", style:"width: 100vw;" %>
</div>
