<%= link_to "/home" do %>
<div class="landing-page vw-100" style="background-image: url(https://res.cloudinary.com/dwvglguvp/image/upload/v1670260212/development/vigilante/vigilante_1_vhg2py.png);">
</div>
<% end %>
