<!--<div class="vw-100">
<a href="/home"><%= image_tag "https://res.cloudinary.com/dwvglguvp/image/upload/v1670260212/development/vigilante/vigilante_1_vhg2py.png", style:"width: 100%; object-fit: cover;" %>
</div>-->
<%= link_to "/home" do %>
<div class="landing-page vw-100" style="background-image: url(https://res.cloudinary.com/dwvglguvp/image/upload/v1670260212/development/vigilante/vigilante_1_vhg2py.png);">
</div>
<% end %>
