.chat-grid {
  display:grid;
  grid-template-columns: 300px 800px;
}

.chatroom {
  background: #e2e1e1;
  word-wrap: break-word;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border: 1px solid #6e858f;
  border-radius: 1rem;

  h1 {
    border-bottom: 1px solid gray;
    margin-bottom: 0;
    padding: 1rem;
    color: #6e858f;
  }

  .messages {
    max-height: 42vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

  }

  #new_message {
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .btn {
    // width: 100%;
    background-color: #6e858f;
    color: white;
    border-radius: 20px;
    margin-left: 0.5rem;
  }

  .btn:hover {
    background-color: #9a9895;
    transition: 0.7s;
  }

  input {
    border-radius: 20px;
  }

}

.gap-chat {
  gap: 10px;
}

.container-white{
  width: fit-content;
}


.message-chat {
  color: white;
  background-color: #738790;
  .avatar-chat {
    background-image: url("avatar.png");
  }
  flex-direction: row-reverse;
  .gap-chat {
    text-align: end;
    justify-content: flex-end;
  }
    word-wrap: break-word;
    width: 100%;
    margin: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    // background-color: black;
    p {
      margin: 0;
    }
}

.chatrooms {
  background: #e2e1e1;
  word-wrap: break-word;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  flex-grow: 1;
  border: 1px solid #6e858f;
  border-radius: 1rem;
  margin-right: 1rem;

  h2 {
    border-bottom: 1px solid gray;
    margin-bottom: 0;
    padding: 1rem;
    color: #6e858f;
  }

  ul {
    list-style: none;

    li {
      padding: 0.5rem 0;
    }
  }

  a {
    text-decoration: none;
    color: black;

  }

}
