// .navbar-lewagon {
//   justify-content: space-between;
//   background: #6e858f;
//   max-height: 80px ;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon img {
//   max-width: 100px;
//   max-height: 80px;
// }


.navbar-lewagon {
  justify-content: space-between;
  background:#6e858f;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  max-height: 60px;
  color: #fff
}

.nav-link {
  border-radius: 20px;
}

.nav-link:hover {
  background-color: #69655f;
  transition: 0.5s;
}

#navbarDropdown:hover {
  opacity: 0.6;
  transition: 0.5s
}

.navbar-brand:hover {
  color: #cbc5ba;
  transition: 0.5s
}
